<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="..\css\dashboard.css">
    <link rel="stylesheet" href="..\uicons-regular-rounded\css\uicons-regular-rounded.css">
    <link rel="stylesheet" href="..\css\crear-evento.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion-Clientes</title>
</head>
<body>
    <div class='nav-bar'>
        <div>
            <div class='img-login'><img class='img-login' src='..\img\loginm.png' height="70" width="70"></div>
            <h3 class='text_nav-bar'>Maria García</h3>
            <div class='hr-div-bar'><hr class="hr-bar"></div>
            <h3 class='text_nav-bar'>Secretaria de Comercialización</h3>
        </div>
       <ul>
           <li><a href="dashboard-secretaria.html"><i class="fi-rr-home" ></i>Inicio</a></li>
           <li><a href="clientes-gestion.html"><i class="fi-rr-users" ></i>Clientes</a></li>
           <li><a href="eventos-gestion.html"><i class="fi-rr-calendar" ></i>Eventos</a></li>
           <li><a href="login.html"><i class="fi-rr-user-remove" ></i>Cerrar Sesión</a></li>
       </ul>

       <div class='img-logo'>
           <img src="..\img\logo.png" height="60">
       </div>
        
    </div>
    <div class='center-page'>
        <h1>Crear Nuevo Evento</h1>
        <form action="get">
            <div>
                    <div>
                        <div><h2>Nombre del Cliente</h2><input type="text"></div>
                        <div><h2>Dirección del Inmueble</h2><input type="text"></div>
                        <div><h2>Correo electrónico</h2><input type="email"></div>
                        <div><h2>Detalle</h2><textarea></textarea></div>
                    </div>
                    <div class='container-right'>
                        <div><h2>Tipo Evento</h2>
                            <div class='dropdown'>
                                <select class="btn dropdown-toggle">
                                    <optgroup label="Tipo de Evento">
                                      <option value="cita">Cita</option>
                                      <option value="reclamo">Reclamo</option>
                                      <option value="otro">Otro</option>
                                    </optgroup>
                                </select>
                        </div> 
                    </div>
                          
                        <div>
                            <h2>Fecha y Hora</h2>
                            <div>
                                <img src="..\img\calendary.jpeg" class='calendary'>
                            </div>
                        </div> 
                    </div>
            </div>
            <div class='btn-form'>
                <button type="submit">Agregar</button>
                <a class='btn-a' href='eventos-gestion.html'>Cancelar</a>
            </div>
    </form>
    </div>
</body>
</html>