<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="..\css\dashboard.css">
    <link rel="stylesheet" href="..\uicons-regular-rounded\css\uicons-regular-rounded.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion-Clientes</title>
</head>
<body>
    <div class='nav-bar'>
        <div>
            <div class='img-login'><img class='img-login' src='..\img\login.png' height="70" width="70"></div>
            <h3 class='text_nav-bar'>James Fernand</h3>
            <div class='hr-div-bar'><hr class="hr-bar"></div>
            <h3 class='text_nav-bar'>Jefe de Comercializacion</h3>
        </div>
       <ul>
           <li><a href="dashboard.html"><i class="fi-rr-home" ></i>Inicio</a></li>
           <li><a href="gestion-Propiedades.html"><i class="fi-rr-building" ></i>Propiedades</a></li>
           <li><a href="clientes-gestion.html"><i class="fi-rr-users" ></i>Clientes</a></li>
           <li><a href="eventos.html"><i class="fi-rr-calendar" ></i>Eventos</a></li>
           <li><a href="login.html"><i class="fi-rr-user-remove" ></i>Cerrar Sesión</a></li>
       </ul>

       <div class='img-logo'>
           <img src="..\img\logo.png" height="60">
       </div>
        
    </div>
    <div class='center-page'>
    </div>
</body>
</html>