<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="..\css\dashboard.css">
    <link rel="stylesheet" href="..\css\clientes-gestion.css">
    <link rel="stylesheet" href="..\uicons-regular-rounded\css\uicons-regular-rounded.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion-Clientes</title>
</head>
<body>
    <div class='nav-bar'>
        <div>
            <div class='img-login'><img class='img-login' src='..\img\login.png' height="70" width="70"></div>
            <h3 class='text_nav-bar'>James Fernand</h3>
            <div class='hr-div-bar'>
                <hr class="hr-bar">
            </div>
            <h3 class='text_nav-bar'>Administrativo</h3>
        </div>
        <ul>
            <li><a href="dashboard-administrativo.html"><i class="fi-rr-home"></i>Inicio</a></li>
            <li><a href="administrativo-resumenes.html"><i class="fi-rr-form"></i>Resumenes</a></li>
            <li><a href="administrativo-liquidaciones.html"><i class="fi-rr-form"></i>Liquidaciones</a></li>
            <li><a href="visualizar-clientes-administrativo.html"><i class="fi-rr-users" ></i>Clientes</a></li>
            <li><a href="transacciones-administrativo.html"><i class="fi-rr-form" ></i>Transacciones</a></li>
            <li><a href="login.html"><i class="fi-rr-user-remove"></i>Cerrar Sesión</a></li>
        </ul>

        <div class='img-logo'>
            <img src="..\img\logo.png" height="60">
        </div>
    </div>
       <div class='center-page'>
        <div class='form'></div>   
           <div class='body-head'>
               <h1>Clientes</h1> 
               <div>
                    <input type="search" value="" placeholder="Ingrese cliente" class='search-client'>
                        <a href='buscar.html'><i class=" fi-rr-search" ></i></a>
                    </input>
                </div>
               <button class='listar-cli'><i class="fi-rr-form" ></i>Listar Clientes</button>
            </div>
            <div class='scrollingTable'>
                <div class='head-clientes'>
                    <button class='btn-sort'><i class='fi-rr-database'></i>Ordenar por fecha</button>
                    <button class='btn-sort'><i class='fi-rr-database'></i>Ordenar por Nombre</button>
                </div>
                <table class='table-cli'>
                    <thead>
                        <tr>
                            <th>Icono</th>
                            <th>Nombre</th>
                            <th>Fecha Nacimiento</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th>Correo</th>
                            <th>Tipo Cliente</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody class='rows-cli'></tbody>
                </table>
            </div>
        </div> 
        <script src="..\Js\clientes-table-inm.js"></script>
</body>
</html>